body {
	background-color: #f2eeeb;
}

h1,
h4,
p,
footer {
	font-family: sans-serif;
	text-align: center;
	padding-top: 20px;
}

footer {
	margin: 0 100px;
}

.croissant-img {
	max-width: 50%;
	display: block;
	border-radius: 50px;
	margin: 30px auto;
	text-align: center;
}
